.admincp_list {
	display: flex;
	width: 350px;
	justify-content: space-between;
}
.admincp_list li {
	list-style: none;
}
.admincp_list li a {
	text-decoration: none;
	color: #000;
	border: 1px solid red;
	padding: 10px;
}

h1 {
	text-align: center;
	padding-bottom: 40px;
}

.wrap {
	width: 90%;
	border: 1px solid #000;
	margin: auto;
}

.title_them {
	padding-top: 20px;
	text-align: center;
	font-size: 30px;
}
td {
	padding: 10px;
}
input {
	padding: 5px;
}
